/*para crear scroll en la tabla*/
  /*.scrollable {
  height: 400px;
  overflow: scroll;
  }*/
  table tbody { height:300px; overflow-y:scroll; display:block; }
  table thead { display:block;}
  
  thead th{
    text-align: center;
  }
  /*.table-fixed tbody{
    height: 400px;
    overflow-y: auto;
    display:block;
  }
  .table-fixed thead,
  .table-fixed tbody,
  .table-fixed td,
  .table-fixed th{
    
  }
  .table-fixed tbody td,
  .table-fixed thead >tr>th{
    float: left;
    border-bottom-width: 0;
  }*/
